.login {
  width: 100%;
  height: 100%;
  background-image: url('./images/background.jpg');
}
.login .login-header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(21, 20, 13, 0.5);
}
.login .login-header img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-right: 20px;
}
.login .login-header h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
}
.login .login-content{
  padding: 25px;
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 50px auto;
}
.login .login-content h1{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

